<section>
    <section>
        <style>

            .sidenav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: white;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
            }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

            .sidenav a:hover {
                color: #f1f1f1;
            }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

            .glyphicon-ok
            {
                color: var(--couleur);
            }

            .liste-developpement
            {
                list-style: none;
            }

            @media screen and (max-height: 450px) {
                .sidenav {padding-top: 15px;}
                .sidenav a {font-size: 18px;}
            }
        </style>
    </section>
    <section>
        <div class="col-sm-offset-1 col-sm-10 col-xs-12">
            {% for item in siteDeveloppes %}
                <div class="container-site col-sm-6 col-xs-12">
                    <div class="col-sm-12 div-site">
                        <span style="cursor:pointer" onclick="openNav{{ item.nomRaccourci }}()">
                            <img class="header-container-site col-sm-offset-1 col-sm-10 col-xs-12" src="img/site/{{item.imageOuverture}}">
                        </span>
                    </div>
                    <div class="footer-container-site col-sm-offset-1 col-sm-10 col-xs-12">
                        <h2>{{ item.nom }}</h2>
                    </div>
                </div>

                <script>
                    function openNav{{ item.nomRaccourci }}() {
                        if (window.innerWidth>720)
                        document.getElementById("{{ item.nomRaccourci }}").style.width = "800px";
                        else
                        {
                            document.getElementById("{{ item.nomRaccourci }}").style.width = "100%";
                        }
                    }

                    function closeNav{{ item.nomRaccourci }}() {
                        document.getElementById("{{ item.nomRaccourci }}").style.width = "0";
                    }
                </script>
            {% endfor %}
        </div>

         {% for item in siteDeveloppes %}
        <div id="{{ item.nomRaccourci }}" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav{{ item.nomRaccourci }}()">&times;</a>
            <div class="col-sm-offset-1 col-sm-10">
                <h2>{{ item.nom }}</h2>
                <img class="col-xs-12" src="img/site/{{ item.imageOuverture }}">
                <hr>
                <div>
                    <h3>DEVELOPPEMENT COMPLET</h3>
                    <p>
                        {{ item.detailProjet }}
                    </p>
                    <hr>
                    <div>
                        <ul class="liste-developpement">
                            <li>
                                <span class="glyphicon glyphicon-ok"></span>
                                Conception de la maquette (Balsamiq)
                            </li>
                            <li><span class="glyphicon glyphicon-ok"></span>Intégration HTML - CSS (Bootstrap)</li>
                            <li><span class="glyphicon glyphicon-ok"></span>Développement sous PHP/Symfony - MySQL</li>
                            <li><span class="glyphicon glyphicon-ok"></span>Animation des pages par JavaScript / AJAX</li>
                            <li><span class="glyphicon glyphicon-ok"></span>Référencement naturel SEO</li>
                            <li><span class="glyphicon glyphicon-ok"></span>Site Responsive (compatible tous supports)</li>
                            <li><span class="glyphicon glyphicon-ok"></span>Mises à jours régulière en fonction des besoins</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div>
                    <h3>INFOS PROJET</h3>
                    <p>
                        Année de création: {{ item.anneeConception }}
                    </p>
                    <hr>
                    <ul>
                        <li>Symfony 4.4</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Bootstrap</li>
                        <li>Javascript / Ajax</li>
                        <li>SQL</li>
                        <li>Responsive</li>
                    </ul>
                </div>
                <hr>
                <div>
                    <a href="{{ item.lienSite }}">
                        <button>Visiter le site</button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</section>